/* styles.css */
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: black; 
    background-color: #f6f6ef;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    background-color: #ff6600;
    padding: 10px;
}
header h1 {
    margin: 0;
    font-size: 14pt;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
main {
    margin-left: 20px;
}
main article {
    margin-bottom: 20px;
}
main article h2 {
    margin: 0;
    color: black;
}
main article p {
    margin-top: 5px;
}
.post-number {
    color: #828282;
    margin-right: 5px;
}
.post-meta {
    font-size: 9pt;
    color: #828282;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 7pt;
}
footer p {
    margin: 0;
}
