/* styles.css */
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
    background-color: #f6f6ef;
}
header {
    background-color: #ff6600;
    padding: 10px;
    text-align: center;
}
header h1 {
    margin: 0;
    font-size: 14pt;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    color: #828282;
    text-decoration: none;
}
main {
    margin-left: 20px;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 7pt;
}
footer p {
    margin: 0;
}
